<template>
    <main>
        <section class="container mx-auto p-4">
            <div class="repo-listing-container">

                <FilterController :class="showClass" :opt="langList" @filterChange="onfilterChange" v-if="langList.length>0"/>
                <RepoListing :class="showClass" :listing={showData} />
            </div>
            <a href="https://www.linkedin.com/in/josef-cheung-89313652/" target="_blank" class="love-bubble fixed bottom-4 right-4 flex flex-col items-center p-3 pb-4">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 34 34" class="mb-1">
                <g><path d="M34,2.5v29A2.5,2.5,0,0,1,31.5,34H2.5A2.5,2.5,0,0,1,0,31.5V2.5A2.5,2.5,0,0,1,2.5,0h29A2.5,2.5,0,0,1,34,2.5ZM10,13H5V29h5Zm.45-5.5A2.88,2.88,0,0,0,7.59,4.6H7.5a2.9,2.9,0,0,0,0,5.8h0a2.88,2.88,0,0,0,2.95-2.81ZM29,19.28c0-4.81-3.06-6.68-6.1-6.68a5.7,5.7,0,0,0-5.06,2.58H17.7V13H13V29h5V20.49a3.32,3.32,0,0,1,3-3.58h.19c1.59,0,2.77,1,2.77,3.52V29h5Z"></path></g></svg>Josef<br>Cheung
            </a>
            <div id="refresh-loading" :class="['w-full h-full ',showClass]" aria-hiden="true"></div>
        </section>
    </main>
</template>

<script>
import axios            from "axios";
import FilterController from '../components/FilterController.vue';
import RepoListing      from '../components/RepoListing.vue';
import { HeartIcon }    from "@heroicons/vue/solid";
import moment           from 'moment'

export default {

    data() {
        return {
            rawData:     [],
            showData:    [],
            filterRules: {"type":"all","lang":"all","sort":"date","search":""},
            showClass:   "",
            langList:    []
        };
    },
    components:{
        FilterController, RepoListing, HeartIcon
    },
    methods: {

        sortedByIncludes(key,searchValue,inputArr) {
            (searchValue=="all")? searchValue = "": null
            inputArr = inputArr.filter((item) => {
                return String(item[key]).toLowerCase().includes(searchValue.toLowerCase())
            })
            return inputArr;
        },
        sortedByNumber(key,inputArr) {
            inputArr = inputArr.sort((a,b) => { return b[key] - a[key] })
            return inputArr;
        },
        sortedByAlphabetically(key,inputArr) {
            inputArr = inputArr.sort((a,b) => {
                let fa = a[key].toLowerCase(), fb = b[key].toLowerCase();
                if (fa < fb) { return -1 }
                if (fa > fb) { return 1 }
                return 0
            })
            return inputArr;
        },
        reCalItemListing(dropDownType,optValue,tempArr){

            //check order method
            if(dropDownType=="type"){
                switch (optValue) {
                    case "sources":
                        tempArr = this.sortedByIncludes("fork","false",tempArr);
                        break;
                    case "forks":
                        tempArr = this.sortedByIncludes("fork","true",tempArr);
                        break;
                    case "archived":
                        tempArr = this.sortedByIncludes("archived","true",tempArr);
                        break;
                    default:
                        break;
                }
            }

            if(dropDownType=="sort"){
                switch (optValue) {
                    case "name":
                        tempArr = this.sortedByAlphabetically("name",tempArr);
                        break;
                    case "stars":
                        tempArr = this.sortedByNumber("stargazers",tempArr);
                        break;
                    case "commits":
                        tempArr = this.sortedByNumber("commits",tempArr);
                        break;
                    case "issues":
                        tempArr = this.sortedByNumber("open_issues_count",tempArr);
                        break;
                    default:
                        break;
                }
            }

            return tempArr;
        },
        onfilterChange(fiilterObj){

            console.log("fiilterObj:",fiilterObj)

            let _tempResult = this.rawData;

            //compare with filter change
            if(fiilterObj.type != this.filterRules.type || fiilterObj.lang!=this.filterRules.lang || fiilterObj.sort!=this.filterRules.sort || fiilterObj.search!=this.filterRules.search){
                
                this.filterRules = fiilterObj;
                
                //re-order function
                _tempResult = this.sortedByIncludes("name",fiilterObj.search,_tempResult);
                _tempResult = this.reCalItemListing("type",fiilterObj.type,_tempResult);
                _tempResult = this.sortedByIncludes("language",fiilterObj.lang,_tempResult);
                _tempResult = this.reCalItemListing("sort",fiilterObj.sort,_tempResult);

                this.showData = _tempResult;
            }
        },
        massageRawData(apiData){

            let axios_commits_api_list = [];
            let lang_list = [{name:"All",value:"all"}];
            
            apiData.forEach((item, index) =>{

                var _date      = moment(item.pushed_at).format("DD MMM YYYY");
                var _totalTime = moment(item.pushed_at).format("XX");

                let data_obj = {"id":item.id, "name":item.name,"fork":item.fork,"archived":item.archived, "url":item.html_url,"description":item.description,"last_update":_date,"date":_totalTime,"stargazers":item.stargazers_count,"language":item.language?item.language:"other","forks":item.forks_count,"forks_url":item.forks_url,"license":item.license?item.license.key:"other","homepage":item.homepage,"open_issues_count":item.open_issues_count,"issues_url":item.issues_url};

                lang_list.push({name:data_obj.language,value:data_obj.language});
                axios_commits_api_list.push(this.getData(item.name,data_obj))
            });

            lang_list.push({name:"Other",value:"Other"});

            Promise.all(axios_commits_api_list)
                .then(values => {
                    this.rawData = values;
                    //start to fadeIn listing-----
                    setTimeout(() => {
                        this.langList = [...new Set(lang_list)];
                        this.showData = this.sortedByNumber(this.filterRules.sort,this.rawData);
                        this.showClass = "show";
                    },2000);
                    
                })
                .catch(error => { console.log("apiData error:",error); });
        },
        async getData(id,data) {
            const response = await axios.get(`https://api.github.com/repos/Decathlon/${id}/commits`);

            let _author  = {};
            _author.name = response.data[0]["commit"]["author"]["name"];
            _author.img  = response.data[0]["author"]["avatar_url"];
            _author.url  = response.data[0]["html_url"];
            data.author  = _author;
            data.commits = response.data.length;
            return data;
        }
    },
    mounted() {
        axios.get("https://api.github.com/orgs/Decathlon/repos")
            .then(res => {
                res.status==200? this.massageRawData(res.data): console.log("api status error");
            })
            .catch(error => { console.log("api status error:",error) })
    }
};
</script>

<style lang="scss" scoped>
@import "../config.scss";

    section{
        margin-top: 88px;
        position: relative;
        min-height: 80vh;
        max-width: 1280px;
    }

    #refresh-loading{
        background-color: hsla(0,0%,100%,.75);

        opacity: 1;
        transition: all 0.3s;

        &.show{
            opacity: 0;
        }

        &::before,&::after {
            content: "";
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            height: 50px;
            width: 50px;
            transform: translate(-50%,-50%);
        }

        &::before {
            background: #fff;
            border-radius: 4px;
            box-shadow: 0 0 8px #afb1b3;
            transform: translate(-50%,-50%) rotate(45deg);
        }
        &::after {
            background-image: url("../assets/images/loading.gif");
            background-size: 36px 36px;
            width: 36px;
            height: 36px;
        }

    }

    .love-bubble{
        font-size: 12px;
        line-height: 1.1em;
        text-align: center;
        background: #97dcff;
        border-radius: 99px;
        border-bottom-right-radius:0px;
        svg{ fill: $main-color; }

        transition: all 0.3s;

        &::before{
            width: 100%;
            height: 100%;
            position: absolute;
            top: -2px;
            left: -2px;
            content: "";
            background: #d3f0ff;
            border-radius: 99px;
            border-bottom-right-radius:0px;
            z-index: -1;
            transition: all 0.3s;
        }

        &:hover{
            transform: translateY(-5px);
            background: rgb(122, 208, 255);
            &::before{
                
                top: -3px;
                left: -3px;
            }
        }
    }
</style>