<template>
    <div class="filter-controller flex flex-wrap">
        <div class="search-box relative w-full sm:w-full md:w-1/4">
            <input v-model="searchText" type="text" name="search_text" id="searchText" class="shadow-sm duration-300 w-full border-gray-200 block p-3 pl-10 sm:text-sm border-gray rounded-md border h-full" placeholder="Find a repository…" />
            <SearchIcon class="w-5 absolute top-3 left-3"/>
        </div>

        <div class="select-wrapper type-box mt-2 sm:mt-2 md:mt-0">
            <div class="label pr-2 border border-gray-200 ">Type</div>
            <div class="dropdown-box relative shadow-sm h-full">
                <Listbox v-model="selectedtype">
                    <ListboxButton class="list-button border border-gray-200 relative w-full py-2 pl-3 pr-10 text-left bg-white rounded-md h-full" >
                        <span class="block">{{ selectedtype.name }}</span>
                        <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                            <SelectorIcon class="w-5 h-5 text-gray-400" aria-hidden="true" />
                        </span>
                    </ListboxButton>
                    <transition leave-active-class="transition duration-50 ease-in" leave-from-class="opacity-100" leave-to-class="opacity-0" >
                        <ListboxOptions class="absolute w-full py-1 overflow-auto text-base bg-white rounded-md shadow-lg max-h-60 sm:text-sm" >
                            <ListboxOption v-slot="{ selected }" v-for="type in type" :key="type.name" :value="type" as="template" >
                            <li :class="[ 'select-none relative py-2 pl-10 pr-4']">
                                <span :class="[ 'block']" >{{ type.name }}</span>
                                <span v-if="selected" class="absolute inset-y-0 left-0 flex items-center pl-3 text-amber-600">
                                <CheckIcon class="w-5 h-5" aria-hidden="true" />
                                </span>
                            </li>
                            </ListboxOption>
                        </ListboxOptions>
                    </transition>
                </Listbox>
            </div>
        </div>

        <div class="select-wrapper lang-box mt-2 sm:mt-2 md:mt-0">
            <div class="label pr-2 border border-gray-200 ">Lang</div>
            <div class="dropdown-box relative shadow-sm h-full">
                <Listbox v-model="selectedLang">
                    <ListboxButton class="list-button border border-gray-200 relative w-full py-2 pl-3 pr-10 text-left bg-white rounded-md h-full" >
                        <span class="block">{{ selectedLang.name }}</span>
                        <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                            <SelectorIcon class="w-5 h-5 text-gray-400" aria-hidden="true" />
                        </span>
                    </ListboxButton>
                    <transition leave-active-class="transition duration-50 ease-in" leave-from-class="opacity-100" leave-to-class="opacity-0" >
                        <ListboxOptions class="absolute w-full py-1 overflow-auto text-base bg-white rounded-md shadow-lg max-h-60 sm:text-sm" >
                            <ListboxOption v-slot="{ selected }" v-for="lang in opt" :key="lang.name" :value="lang" as="template" >
                            <li :class="[ 'select-none relative py-2 pl-10 pr-4']">
                                <span :class="[ 'block']" >{{ lang.name }}</span>
                                <span v-if="selected" class="absolute inset-y-0 left-0 flex items-center pl-3 text-amber-600">
                                <CheckIcon class="w-5 h-5" aria-hidden="true" />
                                </span>
                            </li>
                            </ListboxOption>
                        </ListboxOptions>
                    </transition>
                </Listbox>
            </div>
        </div>

        <div class="select-wrapper sort-box mt-2 sm:mt-2 md:mt-0">
            <div class="label pr-2 border border-gray-200 ">Sort</div>
            <div class="dropdown-box relative shadow-sm h-full">
                <Listbox v-model="selectedSort">
                    <ListboxButton class="list-button border border-gray-200 relative w-full py-2 pl-3 pr-10 text-left bg-white rounded-md h-full" >
                        <span class="block">{{ selectedSort.name }}</span>
                        <span class="absolute inset-y-0 right-0 flex items-center pr-2 pointer-events-none">
                            <SelectorIcon class="w-5 h-5 text-gray-400" aria-hidden="true" />
                        </span>
                    </ListboxButton>
                    <transition leave-active-class="transition duration-50 ease-in" leave-from-class="opacity-100" leave-to-class="opacity-0" >
                        <ListboxOptions class="absolute w-full py-1 overflow-auto text-base bg-white rounded-md shadow-lg max-h-60 sm:text-sm" >
                            <ListboxOption v-slot="{ selected }" v-for="sort in sort" :key="sort.name" :value="sort" as="template" >
                            <li :class="['select-none relative py-2 pl-10 pr-4']">
                                <span :class="['block']" >{{ sort.name }}</span>
                                <span v-if="selected" class="absolute inset-y-0 left-0 flex items-center pl-3 text-amber-600">
                                <CheckIcon class="w-5 h-5" aria-hidden="true" />
                                </span>
                            </li>
                            </ListboxOption>
                        </ListboxOptions>
                    </transition>
                </Listbox>
            </div>
        </div>

    </div>
</template>

<script>
import { SearchIcon } from "@heroicons/vue/solid";
import { watch, ref ,toRefs } from 'vue';
import { Listbox, ListboxLabel, ListboxButton, ListboxOptions, ListboxOption } from '@headlessui/vue';
import { CheckIcon, SelectorIcon } from '@heroicons/vue/solid'

export default {

    props: {
        opt: Object
    },
    setup(props, { emit }) {

        const { opt } = toRefs(props);

        console.log("opt:",opt.value)
        
        const type = [ 
            { name: 'All'     ,value: 'all'      },
            { name: 'Sources' ,value: 'sources'  },
            { name: 'Forks'   ,value: 'forks'    },
            { name: 'Archived',value: 'archived' }
        ]

        const sort = [ 
            { name: 'Last updated' ,value: 'date'    },
            { name: 'Name'         ,value: 'name'    },
            { name: 'Stars'        ,value: 'stars'   },
            { name: 'Commits'      ,value: 'commits' },
            { name: 'Open Issues'  ,value: 'issues'  }
        ]

        const selectedtype = ref(type[0]), selectedLang = ref(opt.value[0]), selectedSort = ref(sort[0]);
        const searchText   = ref("");

        console.log("selectedLang:",selectedLang)

        watch([selectedtype,selectedLang,selectedSort,searchText], ([newType,newLang,newSort,newText]) => {

            let filterObj = { "type":newType.value , "lang":newLang.value , "sort":newSort.value ,"search":newText }
            emit('filterChange', filterObj);
        });
        
        return {
            type, sort,
            selectedtype, selectedLang, selectedSort ,searchText
        }
    },
    components:{
        SearchIcon, Listbox, ListboxLabel, ListboxButton, ListboxOptions, ListboxOption, CheckIcon, SelectorIcon
    }
}
</script>

<style lang="scss" scoped>
@import "../config.scss";

.filter-controller{

    .search-box{
        height: 48px;
        input{
            transition: all .3s;
            &:focus-visible{
                outline: none;
                border: 1px solid $main-color;
            }
        }
    }

    .select-wrapper{
        margin-left: 10px;
        width: calc(25% - 10px);
        display: inline-flex;

        @media screen and (max-width:767px) {
            width: calc(33% - 5px);
            margin-left: 5px;
            flex-direction: column;
        }

        @media screen and (max-width:550px) {
            width: calc(50% - 5px);
        }

        @media screen and (max-width:375px) {
            width: 100%;
            margin-left: 0px;
        }

        .label{
            font-size: 13px;
            line-height:46px;
            border-right: 0px;
            padding-left: 10px;
            border-radius: 6px;
            color: #898989;
            background: #f2f2f2;
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;

            @media screen and (max-width:767px) {
                font-size: 12px;
                width: 100%;
                line-height:1em;
                padding-top: 4px;
                padding-bottom: 4px;
                border-radius: 6px;
                border-bottom: none;
                border-bottom-left-radius: 0px;
                border-bottom-right-radius: 0px;
            }
        }

        .list-button{
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
            @media screen and (max-width:767px) {
                border-radius: 0px;
                padding-top: 2px;
                padding-bottom: 2px;
            }
        }

        .dropdown-box{
            height: 48px;
            width: 100%;
            @media screen and (max-width:767px) {
                height: 32px;
            }

            ul{
                z-index: 10;

                li{ 
                    cursor: pointer;
                    transition: all 0.3s;
                    span{
                        font-size: 12px;
                    }

                    &:hover{
                        background-color: #ebebeb;
                    }
                }
            }
        }
    }
}
</style>
