<template>
    <div class="repo-listing-wrapper">
        
        <div class="item-wrapper relative w-full flex flex-wrap relative" v-if="listing.showData.length>0">

            <div class="item-card mt-8 w-full sm:w-full md:w-1/2 xl:w-2/6" :key="item.id" v-for="item in listing.showData">
                <a class="item-content-box relative block h-full rounded-md shadow p-6 flex flex-col" :href="item.url" target="_blank">
                    <a target="_blank" class="home-url w-7 absolute right-5 top-5" v-if="item.homepage"><HomeIcon class="p-1"/></a>
                    <p class="repo-name" v-if="item.name">{{item.name}}</p>
                    <p class="repo-desc mt-3">{{item.description}}</p>
                    <div class="info-list flex flex-wrap mt-5 pb-2 border-b-2 border-gray-200">
                        <div class="lang info-item flex flex-row mr-2"><CodeIcon class='w-5 mr-1'/>{{item.language}}</div>
                        <div class="license info-item flex flex-row mr-2"><BadgeCheckIcon class='w-5 mr-1'/>{{item.license}}</div>
                        <div class="commits info-item flex flex-row mr-2"><ArrowCircleUpIcon class='w-5 mr-1'/>{{item.commits}}</div>
                        <div class="issue info-item flex flex-row mr-2"><ChatAlt2Icon class='w-5 mr-1'/>{{item.open_issues_count}}</div>
                        <div class="star info-item flex flex-row mr-2"><StarIcon class='w-5 mr-1'/>{{item.stargazers}}</div>
                    </div>
                    <a class="author-box relative flex flex-row pt-3 items-center" target="_blank" :href="item.author.url" alt="commits detail">
                        <img class="author-img w-14 rounded-full border-2 border-gray-200" :src="item.author.img" :alt="item.author.name"/>
                        <div class="info-box pl-3 w-full">
                            <p class="author-name">{{item.author.name}}</p>
                            <p class="date">Updated on {{item.last_update}}</p>
                        </div>
                        <div class="badge"><ArrowCircleRightIcon class='w-5'/></div>
                    </a>
                </a>
            </div>

        </div>

        <div class="item-wrapper relative w-full flex flex-wrap relative text-center p-10 justify-center" v-else>
            <ExclamationIcon class="w-6 inline-block mb-2"/>
            <p class="text-center w-full no-result">This organization doesn’t have any repositories that match.</p>
        </div>
        
    </div>
</template>

<script>
import { CodeIcon ,BadgeCheckIcon ,ArrowCircleUpIcon ,FolderOpenIcon,ArrowCircleRightIcon ,HomeIcon ,ChatAlt2Icon ,StarIcon ,ExclamationIcon } from "@heroicons/vue/solid";

export default {

    props: { listing:{ type: Object } },
    components:{
        CodeIcon ,BadgeCheckIcon ,ArrowCircleUpIcon ,FolderOpenIcon ,ArrowCircleRightIcon ,HomeIcon ,ChatAlt2Icon ,StarIcon ,ExclamationIcon 
    }
}
</script>

<style lang="scss" scoped>
@import "../config.scss";

.repo-listing-wrapper{
    margin-top: 20px;

    opacity: 0;
    transition: all 0.3s;
    transform: translateY(10px);

    &.show{
        opacity: 1;
        transform: translateY(0px);
    }

    @media screen and (max-width:768px) {
        margin-top: 0px; 
    }

    .item-wrapper{
        margin-left: -20px;
        margin-right: -20px;
        width: calc(100% + 36px);

        .no-result{
            font-weight: bold;
        }
    }

    @keyframes fadeIn {
        0%   {opacity:0; transform: translateY(20px);}
        100% {opacity:1; transform: translateY(0px);}
    }

    .item-card{
        box-sizing: border-box;
        transition: all 0.3s;

        .item-content-box{
            transition: all 0.3s;
            margin-left: 20px;
            margin-right: 20px;

            .home-url{
                transition: all 0.3s;

                svg{
                    fill:#9b9b9b;
                }
                &:hover{
                    transform: scale(1.2);
                    svg{
                        fill:#333333;
                    }
                }
            }

            .repo-name{
                font-size: 18px;
                font-weight: 600;
                text-transform: uppercase;
                line-height: 1.1em;
                color: #494949;
                transition: all 0.3s;
            }

            .repo-desc{
                font-size: 13px;
                line-height: 1.3em;
                color: #929292;
                font-weight: 300;

                flex: 1 0;
            }

            .info-item{
                color: #707070;
            }

            .lang svg   { fill: $main-color; }
            .license svg{ fill: #c3b200; }
            .commits svg{ fill: #16ad51; }
            .star svg   { fill: #ff7676; }

            .author-box{
                transition: all 0.3s;
                .author-name{
                    color: #929292;
                }

                .date{
                    font-size: 12px;
                    color: #929292;
                }

                .author-img{
                    border-width: 3px;
                    transition: all 0.3s;
                }

                &:hover{
                    transform: translateX(10px);
                    .author-img{
                        border-width: 3px;
                        border-color: $main-color;
                    }
                }
            }
        }

        &:hover{
            transform: translateY(-10px);
            .item-content-box{
                box-shadow: 0px 0px 5px $main-color;
                .repo-name{
                    color: $main-color;
                }
            }
        }
        
    }
}
</style>
