@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body{
    width: 100vw;
    max-width: 100%;
    font-family: Helvetica,Helvetica Neue,Roboto,Arial,Microsoft Yahei,sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    color: #323233;
    background-color: #fff;
    margin: 0;
}

